<img src="yelp_logo.png" width="400">

# Analyzing Yelp Reviews

### Import libraries

In [53]:
from pyspark.sql import SparkSession
import pyspark
from pyspark import sql
import re
import pandas as pd
import numpy as np

### Create Spark session

In [54]:
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

### Load Data

### Dataset available at https://www.kaggle.com/yelp-dataset/yelp-dataset

In [55]:
path = 'yelp-dataset/yelp_academic_dataset_review.json'
reviews_df = spark.read.json(path)
reviews_df.count()

6685900

### Create sample DF

In [56]:
reviews_df = reviews_df.sample(False, 0.0001)

### Check schema

In [57]:
# Check schema
reviews_df.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- cool: long (nullable = true)
 |-- date: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- review_id: string (nullable = true)
 |-- stars: double (nullable = true)
 |-- text: string (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)

### Check number of NULL values per column

In [58]:
for col in reviews_df.columns:
    print(col, ':', reviews_df.filter(reviews_df[col].isNull()).count())

business_id : 0
cool : 0
date : 0
funny : 0
review_id : 0
stars : 0
text : 0
useful : 0
user_id : 0

### View data

In [59]:
reviews_df.show(5)
reviews_df.count()

+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
|         business_id|cool|               date|funny|           review_id|stars|                text|useful|             user_id|
+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
|aRNjAsmXv1pJTUWTt...|   0|2016-07-25 05:34:02|    0|4gsMjBlKGdWsdvytf...|  5.0|I don't usually r...|     1|H74Dv2uhRcfYurTwL...|
|r48H_sNUGmcRGX1Ls...|   0|2013-06-24 13:21:01|    0|NNHMeimS_JPdPFkG6...|  3.0|Food was dece. Se...|     0|QrIvOhNFzEBRUU2Rb...|
|cbdg2vJ6vM6Vq2EaJ...|   0|2016-10-01 17:19:34|    0|mVN3VPcaYJeGWN7sy...|  5.0|Boca Park Animal ...|     0|VlQMznj9u8TNqiyhN...|
|wNdTKpis6nxehbaZP...|   0|2017-12-17 19:32:32|    0|_yQSKU4yPFz2GxeUg...|  4.0|Really great menu...|     0|KVJEi32OjZUWWPjH1...|
|S5FTckOpSK0_Ma4c1...|   1|2013-12-10 05:07:26|    0|330C-YnKno6F57rp5...|  5.0|Found this place ...|     0|WwgRlAGAeIdmG59tV...|
+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
only showing top 5 rows

721