<img src="yelp_logo.png" width="400">

# Analyzing Yelp Reviews

### Import libraries

In [1]:
from pyspark.sql import SparkSession
import pyspark
from pyspark import sql
import re
import pandas as pd
import numpy as np

### Create Spark session

In [2]:
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

### Load Data

#### Dataset available at: https://www.kaggle.com/yelp-dataset/yelp-dataset

In [3]:
path = '/Users/ryanfrench/Dropbox/cloud_documents/college/9_fall_2019/IST_718/yelp_dataset/yelp_academic_dataset_review.json'
reviews_df = spark.read.json(path)
reviews_df.count()

6685900

# REMEMBER TO REMOVE THIS, THIS SAMPLES ONLY 1/1000 OF THE DATA!

In [4]:
reviews_df = reviews_df.sample(False, 0.001, seed = 123)

### Check schema

In [5]:
# Check schema
reviews_df.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- cool: long (nullable = true)
 |-- date: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- review_id: string (nullable = true)
 |-- stars: double (nullable = true)
 |-- text: string (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)

### Check number of NULL values per column

In [6]:
for col in reviews_df.columns:
    print(col, ':', reviews_df.filter(reviews_df[col].isNull()).count())

business_id : 0
cool : 0
date : 0
funny : 0
review_id : 0
stars : 0
text : 0
useful : 0
user_id : 0

### View data

In [7]:
reviews_df.show(5)
reviews_df.count()

+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
|         business_id|cool|               date|funny|           review_id|stars|                text|useful|             user_id|
+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
|hcFSc0OHgZJybnjQB...|   0|2014-02-05 18:10:23|    0|4CMCRoNZgmxwtOBLG...|  5.0|Fresher noodles y...|     0|5BfyObsvVjB6zcj8W...|
|HhVmDybpU7L50Kb5A...|   0|2017-06-06 19:51:49|    0|QdXaCGCQtvSiue-0m...|  2.0|I would not be go...|     0|zPByj_3y6TBok5BpC...|
|XXCIO_TXCE1uQWPLr...|   1|2015-03-04 19:51:08|    1|uqAUjIy1OKnNl1rzJ...|  1.0|Don't waste your ...|     1|EZxdmp1_mXzPaHreZ...|
|Hpi9raHlFm6prTSzF...|   1|2018-07-07 21:56:54|    1|UldTdufMzctB0llHL...|  2.0|On a second visit...|     2|moj7DUHkP4j9yfwFm...|
|cisqOxAgQPjVVr9Yz...|   0|2018-07-26 14:25:15|    0|ylZjXOIZZqZPBRztX...|  4.0|I absolutely love...|     0|TX5kwQLpKUDvNf4mf...|
+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
only showing top 5 rows

6585

## Can we predict high star Yelp reviews based off of their text content?

### By creating a text transformation and prediction pipeline can we predict which Yelp reviews will have a high number of stars (4/5 or above)?

### Create dummy variable for high reviews (defined as a 4/5 or above)

#### By creating a dummy variable we can easily predict the binary outcomes of low vs high reviews.

In [8]:
from pyspark.sql import Row
from pyspark.sql.functions import col, when

In [9]:
reviews_df = reviews_df.withColumn('d_stars',when(col('stars') >= 4, 1).otherwise(0))
reviews_df = reviews_df.select('d_stars', 'text')
reviews_df.groupBy('d_stars').count().show()

+-------+-----+
|d_stars|count|
+-------+-----+
|      1| 4341|
|      0| 2244|
+-------+-----+

### Remove special characters from reviews and create new column containing filtered text

In [10]:
from pyspark.sql.functions import regexp_replace

reviews_df = reviews_df.withColumn('f_text', regexp_replace(col('text'), '[.,/#!$%^&*;:{}=_`~()-]', ''))

In [11]:
reviews_df.select('f_text').show(1, truncate = False)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|f_text                                                                                                                                                                                                                                                          |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Fresher noodles you may not find in this town I tried the steamed vegetable dumplings and the chicken noodle soup  loved it But careful the portions are big but the staff box it nicely and it still that's great next day
Also the mango bubble tea was tasty|
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 1 row

### Remove numbers

In [12]:
from pyspark.sql.functions import regexp_replace

reviews_df = reviews_df.withColumn('f_text', regexp_replace(col('f_text'), '[\d-]', ''))

In [13]:
reviews_df.select('f_text').show(1, truncate = False)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|f_text                                                                                                                                                                                                                                                          |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Fresher noodles you may not find in this town I tried the steamed vegetable dumplings and the chicken noodle soup  loved it But careful the portions are big but the staff box it nicely and it still that's great next day
Also the mango bubble tea was tasty|
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 1 row

### Reduce instances of multiple whitespaces to just one

In [14]:
reviews_df = reviews_df.withColumn('f_text', regexp_replace(col('f_text'),"\\s+"," "))

In [15]:
reviews_df.select('f_text').show(1, truncate = False)

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|f_text                                                                                                                                                                                                                                                        |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Fresher noodles you may not find in this town I tried the steamed vegetable dumplings and the chicken noodle soup loved it But careful the portions are big but the staff box it nicely and it still that's great next day Also the mango bubble tea was tasty|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 1 row

### Convert all words to lowercase for consistency

In [16]:
from pyspark.sql.functions import lower

reviews_df = reviews_df.withColumn('f_text', lower(col('f_text')))

In [17]:
reviews_df.select('f_text').show(1, truncate = False)

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|f_text                                                                                                                                                                                                                                                        |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|fresher noodles you may not find in this town i tried the steamed vegetable dumplings and the chicken noodle soup loved it but careful the portions are big but the staff box it nicely and it still that's great next day also the mango bubble tea was tasty|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 1 row

### Tokenize 'f_text' column

#### By tokenizing the 'f_text' column we can break out the long strings of our formatted review text into their individual words.

In [18]:
from pyspark.ml.feature import Tokenizer

tokenizer = Tokenizer().setInputCol('f_text').setOutputCol('tokens')

#### Sample output of Tokenizer

In [19]:
tokenizer.transform(reviews_df).show()

+-------+--------------------+--------------------+--------------------+
|d_stars|                text|              f_text|              tokens|
+-------+--------------------+--------------------+--------------------+
|      1|Fresher noodles y...|fresher noodles y...|[fresher, noodles...|
|      0|I would not be go...|i would not be go...|[i, would, not, b...|
|      0|Don't waste your ...|don't waste your ...|[don't, waste, yo...|
|      0|On a second visit...|on a second visit...|[on, a, second, v...|
|      1|I absolutely love...|i absolutely love...|[i, absolutely, l...|
|      0|This place USED t...|this place used t...|[this, place, use...|
|      0|Beware. My dog wa...|beware my dog was...|[beware, my, dog,...|
|      1|First time here w...|first time here w...|[first, time, her...|
|      1|Plumbing Update w...|plumbing update w...|[plumbing, update...|
|      1|I frequent this p...|i frequent this p...|[i, frequent, thi...|
|      1|This is my second...|this is my second...|[this, is, my, se...|
|      0|The front desk st...|the front desk st...|[the, front, desk...|
|      1|Great service, sm...|great service smi...|[great, service, ...|
|      1|Love this place! ...|love this place i...|[love, this, plac...|
|      1|This is so much f...|this is so much f...|[this, is, so, mu...|
|      1|The pollo mole is...|the pollo mole is...|[the, pollo, mole...|
|      1|We recently hit u...|we recently hit u...|[we, recently, hi...|
|      1|I really liked th...|i really liked th...|[i, really, liked...|
|      0|This just the caf...|this just the caf...|[this, just, the,...|
|      0|Scrambled eggs ar...|scrambled eggs ar...|[scrambled, eggs,...|
+-------+--------------------+--------------------+--------------------+
only showing top 20 rows

### Get NTLK stop words from GitHub

#### Stop words are words which are generally considered to offer little insight in linguistic processing due to the fact that they are utilized so frequently. We will be utilizing the list contained in the Natural Language Tool Kit (NLTK) to remove these words in this case.

In [20]:
import requests

try:
    stop_words = requests.get('https://gist.github.com/sebleier/554280').text.split()
except Exception as e:
    print(e)

### Remove stop words

In [21]:
from pyspark.ml.feature import StopWordsRemover

sw_filter = StopWordsRemover(). \
            setStopWords(stop_words). \
            setCaseSensitive(False). \
            setInputCol("tokens"). \
            setOutputCol("filtered_tokens")

# ADJUST THE MINDF PARAM WITH FULL REVIEWS TAKEN INTO ACCOUNT

### Create CountVectorizer Estimator

#### The CountVectorizer counts the number of times that a token appears in each review and then saves this list of numbers as a vector for each review.

In [22]:
from pyspark.ml.feature import CountVectorizer

# we will remove words that appear in 50 docs or less
cv = CountVectorizer(minTF=1., minDF=6, vocabSize=2**17). \
     setInputCol("filtered_tokens"). \
     setOutputCol("tf")

### Create initial text processing pipeline

In [23]:
from pyspark.ml import Pipeline

cv_pipeline = Pipeline(stages=[tokenizer, sw_filter, cv]).fit(reviews_df)

#### Sample output of initial text processing pipeline

In [24]:
cv_pipeline.transform(reviews_df).show(5)

+-------+--------------------+--------------------+--------------------+--------------------+--------------------+
|d_stars|                text|              f_text|              tokens|     filtered_tokens|                  tf|
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+
|      1|Fresher noodles y...|fresher noodles y...|[fresher, noodles...|[fresher, noodles...|(4978,[3,9,13,22,...|
|      0|I would not be go...|i would not be go...|[i, would, not, b...|[back, personally...|(4978,[1,2,6,11,1...|
|      0|Don't waste your ...|don't waste your ...|[don't, waste, yo...|[waste, money, mi...|(4978,[4,22,31,35...|
|      0|On a second visit...|on a second visit...|[on, a, second, v...|[visit, changed, ...|(4978,[5,6,19,59,...|
|      1|I absolutely love...|i absolutely love...|[i, absolutely, l...|[absolutely, chat...|(4978,[0,3,5,6,8,...|
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

### Create Inverse Document Frequency (IDF) stage for the pipeline

#### This will lower the realtive value of tokens which appear frequently in documents allowing those that are more specialized to stand out more.

In [25]:
from pyspark.ml.feature import IDF

idf = IDF(). \
      setInputCol('tf'). \
      setOutputCol('tfidf')

### Create IDF text processing pipeline

In [26]:
idf_pipeline = Pipeline(stages=[cv_pipeline, idf]).fit(reviews_df)

#### Sample output of IDF text processing pipeline

In [27]:
idf_pipeline.transform(reviews_df).show(5)

+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|d_stars|                text|              f_text|              tokens|     filtered_tokens|                  tf|               tfidf|
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|      1|Fresher noodles y...|fresher noodles y...|[fresher, noodles...|[fresher, noodles...|(4978,[3,9,13,22,...|(4978,[3,9,13,22,...|
|      0|I would not be go...|i would not be go...|[i, would, not, b...|[back, personally...|(4978,[1,2,6,11,1...|(4978,[1,2,6,11,1...|
|      0|Don't waste your ...|don't waste your ...|[don't, waste, yo...|[waste, money, mi...|(4978,[4,22,31,35...|(4978,[4,22,31,35...|
|      0|On a second visit...|on a second visit...|[on, a, second, v...|[visit, changed, ...|(4978,[5,6,19,59,...|(4978,[5,6,19,59,...|
|      1|I absolutely love...|i absolutely love...|[i, absolutely, l...|[absolutely, chat...|(4978,[0,3,5,6,8,...|(4978,[0,3,5,6,8,...|
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

### Create Text Frequency Inverse Document Frequency (TFIDF) Reviews Dataframe

#### By passing the reviews data frame to the IDF pipeline we can create a TFIDF dataframe which we will then use to predict the review scores.

In [28]:
tfidf_df = idf_pipeline.transform(reviews_df)
pd_tfidf_df = tfidf_df.toPandas()

In [29]:
tfidf_df.columns

['d_stars', 'text', 'f_text', 'tokens', 'filtered_tokens', 'tf', 'tfidf']

In [30]:
lr_df = pd_tfidf_df[['d_stars', 'tfidf']]
lr_df.head()

   d_stars                                              tfidf
0        1  (0.0, 0.0, 0.0, 1.1646703360059747, 0.0, 0.0, ...
1        0  (0.0, 1.1171554603984615, 1.1143751064294236, ...
2        0  (0.0, 0.0, 0.0, 0.0, 1.2003353344165135, 0.0, ...
3        0  (0.0, 0.0, 0.0, 0.0, 0.0, 2.7610822559822092, ...
4        1  (1.1208746650575285, 0.0, 0.0, 1.1646703360059...

### Create prediction pipeline for estimating high star reviews

### Split data into training, validation, and testing groups

In [31]:
train_df, validation_df, test_df = reviews_df.randomSplit([0.6, 0.3, 0.1], seed=0)

#### Number of training records

In [32]:
train_df.count()

3942

#### Number of validation records

In [33]:
validation_df.count()

2017

#### Number of testing records

In [34]:
test_df.count()

626

### Build logistic regression model for later predictions

In [35]:
from pyspark.ml.classification import LogisticRegression

In [36]:
en_lr = LogisticRegression(). \
     setLabelCol('d_stars'). \
     setFeaturesCol('tfidf'). \
     setRegParam(0.0). \
     setMaxIter(100). \
     setElasticNetParam(0.)

### Create new pipeline for prediction

In [37]:
en_lr_estimator = Pipeline(stages=[tokenizer, 
                                   sw_filter, 
                                   cv, 
                                   idf, 
                                   en_lr])

### Build grid search estimator pipeline

#### This will allow us to iteratively search for the optimal $\lambda$ and $\alpha$ parameters to achieve the highest accuracy.

In [38]:
from pyspark.ml.tuning import ParamGridBuilder

In [39]:
en_lr_estimator.getStages()

[Tokenizer_ad20fe4bf303,
 StopWordsRemover_328a0da46bfc,
 CountVectorizer_296e570599a4,
 IDF_9ca5c62c34dd,
 LogisticRegression_c71a2c6508af]

Lets create a pipeline transformation by chaining the `idf_pipeline` with the logistic regression step (`lr`)

In [40]:
grid = ParamGridBuilder(). \
       addGrid(en_lr.regParam, [0., 0.01, 0.02]). \
       addGrid(en_lr.elasticNetParam, [0., 0.2, 0.4]). \
       build()

#### View grid parameters

In [41]:
grid

[{Param(parent='LogisticRegression_c71a2c6508af', name='regParam', doc='regularization parameter (>= 0).'): 0.0,
  Param(parent='LogisticRegression_c71a2c6508af', name='elasticNetParam', doc='the ElasticNet mixing parameter, in range [0, 1]. For alpha = 0, the penalty is an L2 penalty. For alpha = 1, it is an L1 penalty.'): 0.0},
 {Param(parent='LogisticRegression_c71a2c6508af', name='regParam', doc='regularization parameter (>= 0).'): 0.0,
  Param(parent='LogisticRegression_c71a2c6508af', name='elasticNetParam', doc='the ElasticNet mixing parameter, in range [0, 1]. For alpha = 0, the penalty is an L2 penalty. For alpha = 1, it is an L1 penalty.'): 0.2},
 {Param(parent='LogisticRegression_c71a2c6508af', name='regParam', doc='regularization parameter (>= 0).'): 0.0,
  Param(parent='LogisticRegression_c71a2c6508af', name='elasticNetParam', doc='the ElasticNet mixing parameter, in range [0, 1]. For alpha = 0, the penalty is an L2 penalty. For alpha = 1, it is an L1 penalty.'): 0.4},
 {Param(parent='LogisticRegression_c71a2c6508af', name='regParam', doc='regularization parameter (>= 0).'): 0.01,
  Param(parent='LogisticRegression_c71a2c6508af', name='elasticNetParam', doc='the ElasticNet mixing parameter, in range [0, 1]. For alpha = 0, the penalty is an L2 penalty. For alpha = 1, it is an L1 penalty.'): 0.0},
 {Param(parent='LogisticRegression_c71a2c6508af', name='regParam', doc='regularization parameter (>= 0).'): 0.01,
  Param(parent='LogisticRegression_c71a2c6508af', name='elasticNetParam', doc='the ElasticNet mixing parameter, in range [0, 1]. For alpha = 0, the penalty is an L2 penalty. For alpha = 1, it is an L1 penalty.'): 0.2},
 {Param(parent='LogisticRegression_c71a2c6508af', name='regParam', doc='regularization parameter (>= 0).'): 0.01,
  Param(parent='LogisticRegression_c71a2c6508af', name='elasticNetParam', doc='the ElasticNet mixing parameter, in range [0, 1]. For alpha = 0, the penalty is an L2 penalty. For alpha = 1, it is an L1 penalty.'): 0.4},
 {Param(parent='LogisticRegression_c71a2c6508af', name='regParam', doc='regularization parameter (>= 0).'): 0.02,
  Param(parent='LogisticRegression_c71a2c6508af', name='elasticNetParam', doc='the ElasticNet mixing parameter, in range [0, 1]. For alpha = 0, the penalty is an L2 penalty. For alpha = 1, it is an L1 penalty.'): 0.0},
 {Param(parent='LogisticRegression_c71a2c6508af', name='regParam', doc='regularization parameter (>= 0).'): 0.02,
  Param(parent='LogisticRegression_c71a2c6508af', name='elasticNetParam', doc='the ElasticNet mixing parameter, in range [0, 1]. For alpha = 0, the penalty is an L2 penalty. For alpha = 1, it is an L1 penalty.'): 0.2},
 {Param(parent='LogisticRegression_c71a2c6508af', name='regParam', doc='regularization parameter (>= 0).'): 0.02,
  Param(parent='LogisticRegression_c71a2c6508af', name='elasticNetParam', doc='the ElasticNet mixing parameter, in range [0, 1]. For alpha = 0, the penalty is an L2 penalty. For alpha = 1, it is an L1 penalty.'): 0.4}]

In [42]:
all_models = []

for j in range(len(grid)):
    print("Fitting model {}".format(j+1))
    model = en_lr_estimator.fit(train_df, grid[j])
    all_models.append(model)

Fitting model 1
Fitting model 2
Fitting model 3
Fitting model 4
Fitting model 5
Fitting model 6
Fitting model 7
Fitting model 8
Fitting model 9

In [43]:
from pyspark.sql import functions as fn

accuracies = [m. \
              transform(validation_df). \
              select(fn.avg(fn.expr('float(d_stars = prediction)')).alias('accuracy')). \
              first(). \
              accuracy for m in all_models]

In [44]:
accuracies

[0.7967278135845315,
 0.7967278135845315,
 0.7967278135845315,
 0.819533961328706,
 0.8349033217649975,
 0.8393653941497273,
 0.8215171046108082,
 0.8413485374318295,
 0.8304412493802678]

In [45]:
import numpy as np

In [46]:
best_model_idx = np.argmax(accuracies)
print("best model index =", best_model_idx)

best model index = 7

#### View the grid parameters of the best model

In [47]:
grid[best_model_idx]

{Param(parent='LogisticRegression_c71a2c6508af', name='regParam', doc='regularization parameter (>= 0).'): 0.02,
 Param(parent='LogisticRegression_c71a2c6508af', name='elasticNetParam', doc='the ElasticNet mixing parameter, in range [0, 1]. For alpha = 0, the penalty is an L2 penalty. For alpha = 1, it is an L1 penalty.'): 0.2}

In [48]:
best_model = all_models[best_model_idx]

In [49]:
accuracies[best_model_idx]

0.8413485374318295

In [50]:
# estimate generalization performance
best_model. \
    transform(test_df). \
    select(fn.avg(fn.expr('float(d_stars = prediction)')).alias('accuracy')). \
    show()

+------------------+
|          accuracy|
+------------------+
|0.8370607028753994|
+------------------+

Lets create a pipeline transformation by chaining the `idf_pipeline` with the logistic regression step (`lr`)

In [51]:
en_lr_pipeline = Pipeline(stages=[idf_pipeline, en_lr]).fit(train_df)

Lets estimate the accuracy:

In [52]:
en_lr_pipeline.transform(validation_df). \
            select(fn.expr('float(prediction = d_stars)').alias('correct')). \
            select(fn.avg('correct')).show()

+------------------+
|      avg(correct)|
+------------------+
|0.8006941001487358|
+------------------+

### Get most significant words in the prediction of both high and low reviews

In [53]:
en_weights = en_lr_pipeline.stages[-1].coefficients.toArray()
en_coeffs_df = pd.DataFrame({'word': en_lr_pipeline.stages[0].stages[0].stages[2].vocabulary,
                             'weight': en_weights})

### View most significant words indicating high reviews

In [54]:
en_coeffs_df.sort_values('weight', ascending=False).head(15)

            word     weight
4085     turning  19.150099
4910  difficulty  14.536793
3860     o'clock  14.088663
4153       aussi  12.754782
3          great  12.253716
1957        grew  11.430257
4141       belle  10.819681
17       amazing  10.659649
3246        café  10.490388
2516  maintained  10.269260
20     delicious  10.226091
4643      powder  10.096770
4876   tolerance   9.859800
2933      triple   9.760199
4717   comparing   9.732649

### View most significant words indicating low reviews

In [55]:
en_coeffs_df.sort_values('weight').head(15)

            word     weight
4763        cobb -15.558516
4201     squeeze -14.420943
4496    passable -14.415062
4137    freezing -14.284611
4682     rocking -14.231040
4415         sur -13.191218
3657    overdone -12.819695
4547       plays -12.535362
4257     bally's -12.053363
4826        tidy -11.886709
4021  assistance -11.714141
4889    headache -11.629785
2255       dense -11.572903
2555       ideal -11.497297
4054   refilling -11.279024